.message
  .message__upper-info
    %p.message__upper-info__talker
      = messages.user.name
    %p.message__upper-info__date
      = messages.created_at.strftime("%Y/%m/%d %H:%M(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")
  %p.message__text
    - if messages.content.present?
      %p.lower-message__content
        = messages.content
    = image_tag messages.image.url, class: 'lower-message__image' if messages.image.present?